.list {
  margin-bottom: 15px;
}

.list > div.accordion {
  --bs-accordion-border-width: 0px;
}

.list__title {
  margin-right: 10px;
  font-weight: 600;
}

.list > .accordion > .accordion-item > .accordion-header > button.accordion-button {
  background-color: #D55BEC;
  border-color: #D55BEC;
}

span.list__countPill {
  color: #E1E1E1;
}

.list > .accordion > .accordion-item > .accordion-collapse > div.accordion-body {
  background-color: #EBEBEB;
  padding: 10px;
  border-radius: 8px;
}

div.list__cardWrapper {
  background-color: transparent;
  min-height: 50px;
  padding-bottom: 15px;
}

div.list__cardWrapper > p {
  color: #A4A4A4;
}

div.list__cardWrapper--over {
  background-color: #CCCCCC;
}