.board {
  height: 100%;
  width: 100%;
  padding: 25px 15px;
  background-color: #333333;
  color: #FFFFFF;
}

.board__titleText {
  margin: 0px;
}

.board__header {
  margin-bottom: 20px;
}