.calendar,
.calendar__headerYear {
  border: 0.5px solid var(--app-gray-1);
}

.calendar__headerYear,
.calendar__headerCol {
  text-align: center;
  font-size: 1rem;
  color: var(--app-white-1);
}

.calendar__headerYear {
  background-color: var(--app-secondary);
  padding-top: 1%;
  padding-bottom: 1%;
}

.calendar__headerCol {
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  background-color: var(--app-secondary);
  border-right: 0.5px solid var(--app-gray-1);
  border-left: 0.5px solid var(--app-gray-1);

}

div.calendar__datesCell {
  background-color: var(--app-white-1);
  color: var(--app-black-2);
  flex: 1 0 14.28%;
  text-align: center;
  border: 0.5px solid var(--app-gray-1);
  padding-top: 3%;
  padding-bottom: 3%;
}

div.calendar__datesCell--muted {
  background-color: var(--app-gray-2);
}

div.calendar__datesCell--muted {
   color: var(--app-gray-3);
}

div.calendar__datesRow {
  display: flex;
  flex-direction: row;
}